#transf{
				width: 200px;
				height: 200px;
				margin: 100px auto;
				position: relative;
				transform-style: preserve-3d;
			}
			#transf::before,#transf::after{
				content: "";
				width: 100%;
				height: 100%;
				border-radius: 200px;
			    display: block;
				position: absolute;
				top: 0;
				left: 0;
				transition: all 1s;
			}
			#transf::before{
				background: url(img/5.jpg) right bottom;
			}
			#transf::after{
				background: url(img/5.jpg) left bottom;
				
				transform-origin:center bottom;
			}
			#transf:hover::after,#transf:hover::before{
				
				transform: rotateY(180deg);
				/*backface-visibility:hidden;*/
			}
